---
import Layout from '../../../layouts/Layout.astro';
import AdminSidebar from '../../../components/admin/AdminSidebar.astro';
import RedirectionsList from '../../../components/admin/RedirectionsList';

const user = Astro.locals.user;
---

<Layout title="Redirecciones - Admin">
  <div class="admin-layout">
    <AdminSidebar currentPage="redirections" user={user} />
    <RedirectionsList client:visible />
  </div>
</Layout>
